.main_cont {
  padding: 8rem 10rem;
  border-top: solid 1px #575757;
}

.main_banner {
  display: flex;
  height: 72rem;
}

.main_banner > div {
  width: 50%;
}

.main_banner .content_box {
  background: url("/main_banner_bg.svg") no-repeat 50% 50%;
  border-left: solid 1px #575757;
}

.main_banner .content {
  width: calc(100% - 20rem);
  min-height: 50rem;
  background-color: #fff;
  border: solid 1px #575757;
  position: relative;
  top: 12rem;
  left: 10rem;
  padding: 8rem 5rem 0;
}

.main_banner .content span {
  font-size: 2rem;
  color: #3f3f3f;
}

.main_banner .content h3 {
  font-size: 3.4rem;
  padding: 2.2rem 0 2.6rem;
  border-bottom: solid 1px #575757;
  margin-bottom: 3rem;
}

.main_banner .content .point {
  font-size: 2.2rem;
  font-weight: 700;
}

.main_banner .content .text {
  font-size: 2rem;
  color: #181818;
  line-height: 1.6;
  padding: 2rem 0 3rem;
}

.circle_right {
  position: absolute;
  top: -6rem;
  right: -6rem;
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.circle_center {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main_title .eng_title {
  font-size: 3rem;
}

.main_title_text {
  font-size: 2.8rem;
  font-weight: 600;
}

.categories_cont {
  padding-top: 10rem;
}

.categories_title {
  text-align: center;
}

.categories_title h4 {
  margin-top: 1rem;
}

.categories {
  display: flex;
  justify-content: center;
  gap: 6rem;
  margin-top: 6rem;
}

.categories li {
  width: 30rem;
  text-align: center;
}

.categories .box_arrow_btn {
  margin-top: 2rem;
}

.noise_bg {
  background: url("/main_bg.svg") repeat;
}

.review_cont {
  background-color: #fef4ac;
  padding-right: 0;
}

.review_cont .main_title {
  position: relative;
  padding-right: 10rem;
  margin-bottom: 3rem;
  align-items: flex-end;
}

.review_cont .main_title_text {
  padding-bottom: 1rem;
}

.review {
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
  list-style: none;
  overflow-x: auto;
  padding-bottom: 3rem;
}

.review::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0.8);
  height: 1rem;
}

.review::-webkit-scrollbar-thumb {
  background-color: #575757;
}

.review li {
  flex: 0 0 auto;
  width: 49rem;
  border: 1px solid #575757;
  overflow: hidden;
}

.review .img_box {
  height: 30rem;
}

.review .content_box {
  padding: 3rem;
  background-color: #fffdf4;
  border-top: solid 1px #575757;
}

.review h5 {
  font-size: 2.2rem;
  margin-bottom: 1.4rem;
}

.review p {
  font-size: 1.8rem;
  color: #666;
}

.recipe_cont .main_title {
  border-bottom: solid 1px #575757;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.recipe {
  display: flex;
}

.recipe > div {
  width: 50%;
  border: solid 1px #575757;
}

.recipe .img_box {
}

.recipe .content_box {
  background-color: #fff;
  border-left: 0;
  padding: 6rem 6rem 0;
  position: relative;
  min-height: 46rem;
}

.recipe .user_info {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.recipe .user_info p {
  font-size: 1.8rem;
  font-weight: 500;
}

.recipe .content h5 {
  font-size: 2.4rem;
  font-weight: 500;
  margin: 2.6rem 0;
}

.recipe .content p {
  font-size: 1.8rem;
  line-height: 1.6;
}

.go_recipe {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  border: solid 1px #575757;
  background-color: #fffdf4;
  position: absolute;
  bottom: 4rem;
  right: 4rem;
}

.go_recipe::before,
.go_recipe::after {
  content: "";
  width: 2.8rem;
  height: 1px;
  background-color: #575757;
  position: absolute;
  top: 50%;
  left: 50%;
}

.go_recipe::before {
  transform: translate(-50%, -50%) rotate(90deg);
}
.go_recipe::after {
  transform: translate(-50%, -50%);
}

.instagram_cont {
  border-top: 0;
}

.instagram_cont .instagram_list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2.4rem;
}
.instagram_cont .instagram_list li {
  width: 20%;
  height: 0;
  padding-top: 20%;
  border: solid 1px #bbb;
}

.infinite_roof {
  overflow: hidden;
}

.infinite_roof * {
  white-space: nowrap;
  transform: translateX(100%);
  animation: infiniteRoof 30s linear infinite;
}

.categories_roof {
  background-color: #222;
}

.categories_roof p {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 8rem;
}

.info_roof {
  display: flex;
  gap: 4rem;
  padding: 2rem 0;
}

.info_roof img {
  display: inline;
}

@keyframes infiniteRoof {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}
