.main_cont {
  padding: 8rem 10rem;
}

.main_banner .banner_item {
  display: flex !important;
  justify-content: flex-end;
  height: 72rem;
  position: relative;
}

.main_banner .banner_item > div {
  width: 50%;
}

.main_banner .content_box {
  background: url('/main_banner_bg.svg') no-repeat 50% 50%;
}

.main_banner .content {
  width: calc(100% - 20rem);
  min-height: 50rem;
  background-color: #fff;
  position: relative;
  top: 12rem;
  left: 10rem;
  padding: 8rem 5rem 0;
  border-radius: 2rem;
}

.main_banner .content span {
  font-size: 2rem;
  color: #3f3f3f;
}

.main_banner .content h3 {
  font-size: 3.4rem;
  padding: 2.2rem 0 2.6rem;
  border-bottom: solid 1px #ddd;
  margin-bottom: 3rem;
}

.main_banner .content .point {
  font-size: 2.2rem;
  font-weight: 700;
}

.main_banner .content .text {
  font-size: 2rem;
  color: #181818;
  padding: 2rem 0 3rem;
}

.main_banner .content .text * {
  line-height: 1.6;
}

.circle_right {
  position: absolute;
  top: -6rem;
  right: -6rem;
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.circle_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main_title {
  margin-bottom: 3rem;
}

.main_title .eng_title {
  font-size: 3rem;
}

.main_title_text {
  font-size: 2.8rem;
  font-weight: 600;
}

.categories_cont {
  padding: 10rem;
}

.categories_title {
  text-align: center;
}

.categories_title h3 {
  font-size: 10rem;
  color: #59a47e;
}

.categories_title p {
  font-size: 2.6rem;
  font-weight: 500;
  margin-top: 2rem;
}

.categories {
  display: flex;
  justify-content: center;
  gap: 6rem;
  margin-top: 6rem;
}

.categories li {
  width: 30rem;
  text-align: center;
}

.categories .box_arrow_btn {
  margin-top: 2rem;
}

.review_cont {
  background-color: #fdfaf7;
  padding-right: 0;
}

.review_cont .main_title {
  position: relative;
  padding-right: 10rem;
  align-items: flex-end;
}

.review_cont .main_title_text {
  padding-bottom: 1rem;
}

.main_card_list {
  display: flex;
  gap: 2rem;
  flex-wrap: nowrap;
  padding-bottom: 3rem;
}

.main_card_list .big_card {
  min-width: 49rem;
}

.review_cont .slick-slide > div {
  margin-right: 3rem;
}

.recipe {
  display: flex;
  box-shadow: 0px 0px 3rem rgb(242 242 242);
  border-radius: 2rem;
  overflow: hidden;
}

.recipe > div {
  width: 50%;
}

.recipe .img_box {
  background-color: #ddd;
}

.recipe .content_box {
  background-color: #fff;
  border-left: 0;
  padding: 6rem 6rem 0;
  position: relative;
  min-height: 46rem;
}

.recipe .user_info {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.recipe .user_info p {
  font-size: 1.8rem;
  font-weight: 500;
}

.recipe .content h5 {
  font-size: 2.4rem;
  font-weight: 500;
  margin: 2.6rem 0;
}

.recipe .content p {
  font-size: 1.8rem;
  line-height: 1.6;
}

.go_recipe {
  display: inline-block;
  width: 6.8rem;
  height: 6.8rem;
  background-color: #f9cadb;
  position: absolute;
  bottom: 4rem;
  right: 4rem;
  border-radius: 50%;
}

.go_recipe::before,
.go_recipe::after {
  content: '';
  width: 2.8rem;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
}

.go_recipe::before {
  transform: translate(-50%, -50%) rotate(90deg);
}
.go_recipe::after {
  transform: translate(-50%, -50%);
}

.instagram_cont {
  border-top: 0;
}

.instagram_cont .instagram_list {
  display: flex;
  flex-wrap: wrap;
}
.instagram_cont .instagram_list li {
  width: 20%;
  overflow: hidden;
}

.instagram_cont .instagram_list li img {
  width: 100%;
  transition: transform 0.2s;
}

.instagram_cont .instagram_list li img:hover {
  transform: scale(1.1);
}

.infinite_roof {
  overflow: hidden;
}

.infinite_roof * {
  white-space: nowrap;
  transform: translateX(100%);
  animation: infiniteRoof 30s linear infinite;
}

.categories_roof {
  background-color: #59a47e;
}

.categories_roof p {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 8rem;
}

.info_roof {
  display: flex;
  gap: 4rem;
  padding: 4rem 0;
}

.info_roof span {
  font-size: 8rem;
  color: #59a47e;
}

@keyframes infiniteRoof {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}
